/* Color --------------------------------------*/

$danger-red: #d01919;
$off-white: #f5f5f5;
$border-grey: #a7a7a7;

$brand-orange: #FF6600;
$brand-off-black: #27292d;

/* Color --------------------------------------*/


/* Dimensions ---------------------------------*/

$header-height: 200px;

/* Dimensions ---------------------------------*/