/* General ------------------------------------*/

@mixin clear-children-float() {
    content: "";
    display: table;
    clear: both;
}

/* General ------------------------------------*/

/* Color --------------------------------------*/

$danger-red: #d01919;
$off-white: #f5f5f5;
$border-grey: #a2a2a2;
$green: #27ae60;
$link-blue: blue;

$brand-orange: #FF6600;
$brand-off-black: #27292d;

/* Color --------------------------------------*/

/* Dimensions ---------------------------------*/

$header-height: 200px;
$input-height: 42px;
$box-border-radius: 4px;
$container-width: 1200px;

/* Dimensions ---------------------------------*/

/* Font ---------------------------------------*/

$body-font-family: "Open Sans", sans-serif;
$body-font-size: 18px;
$body-font: $body-font-size $body-font-family;

/* Font ---------------------------------------*/

:export {
	brandOrange: $brand-orange;
	green: $green;
}