/* Color --------------------------------------*/

$red: #d01919;
$off-white: #f2f2f2;
$border-grey: #a9a9a9;
$green: #27ae60;
$link-blue: blue;

$brand-orange: #FF6600;
$brand-off-black: #27292d;

$lightness-delta: 7%;

$disabled-opacity: .6;

/* Color --------------------------------------*/

/* Dimensions ---------------------------------*/

$input-height: 2.625rem;
$input-padding-left-right: 0.625rem;
$input-padding: 0 $input-padding-left-right;

$thick-border-width: 0.313rem;
$thin-border-width: 0.063rem;

$header-height: 7rem;
$button-padding: 0 0.875rem;
$box-border-radius: 0.25rem;
$notification-width: 31.25rem;

$container-width: 75rem;
$tablet-screen-width: 59.375rem;
$phone-screen-width: 23.625rem;

$gutter-padding: 0.938rem;
$extra-small-spacing: 0.5rem;
$small-spacing: 1rem;
$medium-spacing: 2rem;

/* Dimensions ---------------------------------*/

/* Font ---------------------------------------*/

$label-font-size: 1.25rem;
$h1-font-size: 1.85rem;
$body-font-family: "Open Sans", sans-serif;
$body-font-size: 1.125rem;
$body-font: $body-font-size $body-font-family;

/* Font ---------------------------------------*/

/* Export -------------------------------------*/

:export {
	red: $red;
	green: $green;
}

/* Export -------------------------------------*/