@import "reset";
@import "sass";
@import "skeleton";

/* General ------------------------------------*/

*, *:before, *:after {
	box-sizing: border-box;
}

.error {
	color: $red;
	border: 1px solid $red;
	border-radius: $box-border-radius;
}

.clear_children_float:after {
	@include clear-children-float();
}

.clear_left {
	clear: left;
}

/* General ------------------------------------*/

/* Positioning --------------------------------*/

.block {
	display: block;
}

.inline_block {
	display: inline-block;
}

.flex {
	display: flex;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.horizontal_center_flex {
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.text_align_center {
	text-align: center;
}

.float_left {
	float: left;
}

/* Positioning --------------------------------*/

/* Spacing ------------------------------------*/

.margin_bottom_medium {
	margin-bottom: $medium-spacing;
}

.margin_top_small {
	margin-top: $small-spacing;
}

.margin_left_small {
	margin-left: $small-spacing;
}

.padding_small {
	padding: $small-spacing;
}

.full_width {
	width: 100%;
}

/* Spacing ------------------------------------*/

/* Color --------------------------------------*/

.green {
	color: $green;
}

.red {
	color: $red;
}

/* Color --------------------------------------*/

/* Font ---------------------------------------*/

body {
	font: $body-font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Font ---------------------------------------*/

/* Form ---------------------------------------*/

.form_label {
	font-size: 20px;
	margin-bottom: 8px;
	text-align: left;
	font-weight: 600;
}

.form_input {
	height: $input-height;
	line-height: $input-height;
	border-radius: $box-border-radius;
	border: 1px solid $border-grey;
	padding: 0 10px;
	font: $body-font;
}

/* Form ---------------------------------------*/

/* Button -------------------------------------*/

.Button {
	background-color: $brand-orange;
	font: $body-font;
	border: none;
	color: white;
	height: $input-height;
	padding: 0 14px;
	border-radius: $box-border-radius;
	cursor: pointer;

	&:disabled {
		opacity: .6;
		cursor: not-allowed;
	}
}

.Button-Clear {
	background-color: $border-grey;
	font-size: 26px;
}

/* Button -------------------------------------*/

/* Header -------------------------------------*/

.Header {
	border-bottom: 5px solid $brand-orange;
	height: $header-height;
	color: white;
	text-align: center;
	background-color: $brand-off-black;
}
  
.Header h1 {
	line-height: $header-height;
	font-size: 30px;
}

/* Header -------------------------------------*/

/* Suggestions --------------------------------*/

.Email_Suggestions {
	background-color: $off-white;
	width: 80%;
}

.Email_Suggestions_Suggestion {
	cursor: pointer;
	padding: 10px 5px;
	text-decoration: underline;
	color: $link-blue;
	
	&:hover {
			background-color: darken($off-white, $lightness-delta);
	}
}

/* Suggestions --------------------------------*/

/* Notifications ------------------------------*/

.Notifications {
	left: 0;
	right: 0;
	bottom: 20px;
	flex-wrap: wrap;
}

.Notifications_Notification {
	max-width: 500px;
	border-radius: $box-border-radius;
	margin-top: $small-spacing;
	color: white;
	text-align: center;
	padding: $small-spacing;
}

.Notifications_Notification-Error {
	background-color: $red;
}

.Notifications_Notification-Success {
	background-color: $green;
}

/* Notifications ------------------------------*/

/* Keep Last ----------------------------------*/

.show {
	display: block;
}

/* Keep Last ----------------------------------*/