/* Imports ------------------------------------*/

@import "reset";
@import "sass";
@import "skeleton";

/* Imports ------------------------------------*/

/* General ------------------------------------*/

*, *:before, *:after {
	box-sizing: border-box;
}

/* General ------------------------------------*/

/* Positioning --------------------------------*/

.block {
	display: block;
}

.flex {
	display: flex;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.horizontal_center_flex {
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* Positioning --------------------------------*/

/* Spacing ------------------------------------*/

.margin_bottom_medium {
	margin-bottom: $medium-spacing;
}

.margin_top_small {
	margin-top: $small-spacing;
}

.margin_left_small {
	margin-left: $small-spacing;
}

.full_width {
	width: 100%;
}

/* Spacing ------------------------------------*/

/* Font ---------------------------------------*/

body {
	font: $body-font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Font ---------------------------------------*/

/* Form ---------------------------------------*/

.form_label {
	font-size: $label-font-size;
	margin-bottom: $extra-small-spacing;
	text-align: left;
	font-weight: 600;
}

.form_input {
	height: $input-height;
	line-height: $input-height;
	border-radius: $box-border-radius;
	border: $thin-border-width solid $border-grey;
	padding: $input-padding;
	font: $body-font;
}

/* Form ---------------------------------------*/

/* Button -------------------------------------*/

.Button {
	background-color: $brand-orange;
	font: $body-font;
	border: none;
	color: white;
	height: $input-height;
	padding: $button-padding;
	border-radius: $box-border-radius;
	cursor: pointer;

	&:disabled {
		opacity: $disabled-opacity;
		cursor: not-allowed;
	}
}

.Button-Clear {
	background-color: $border-grey;
	font-size: 1.625rem;
}

/* Button -------------------------------------*/

/* Header -------------------------------------*/

.Header {
	border-bottom: $thick-border-width solid $brand-orange;
	height: $header-height;
	color: white;
	text-align: center;
	background-color: $brand-off-black;

	h1 {
		line-height: $header-height;
		font-size: $h1-font-size;
	
		@media screen and (max-width: $phone-screen-width) {
			font-size: $h1-font-size - .35;
		}
	}
}

/* Header -------------------------------------*/

/* Main ---------------------------------------*/

main {
	padding: $gutter-padding 0;
}

/* Main ---------------------------------------*/

/* Suggestions --------------------------------*/

.Email_Suggestions_Suggestion {
	cursor: pointer;
	padding: 0.563rem $input-padding-left-right;
	text-decoration: underline;
	color: $link-blue;
	background-color: $off-white;
	
	&:hover {
		background-color: darken($off-white, $lightness-delta);
	}

	&:last-child {
		border-bottom-left-radius: $box-border-radius;
		border-bottom-right-radius: $box-border-radius;
	}
}

/* Suggestions --------------------------------*/

/* Notifications ------------------------------*/

.Notifications {
	left: 0;
	right: 0;
	bottom: $gutter-padding;
	flex-wrap: wrap;
}

.Notifications_Notification {
	max-width: $notification-width;
	border-radius: $box-border-radius;
	margin-top: $small-spacing;
	color: white;
	text-align: center;
	padding: $small-spacing;

	$doubled-gutter-padding: $gutter-padding * 2;
	@media screen and (max-width: $notification-width - $doubled-gutter-padding) {
		width: calc(100% - #{$doubled-gutter-padding});
	}
}

.Notifications_Notification-Error {
	background-color: $red;
}

.Notifications_Notification-Success {
	background-color: $green;
}

/* Notifications ------------------------------*/