@import "reset";
@import "sass";
@import "skeleton";

/* General ------------------------------------*/

*, *:before, *:after {
	box-sizing: border-box;
}

.error {
    color: $danger-red;
    border: 1px solid $danger-red;
    padding: 20px;
    border-radius: $box-border-radius;
}

.block {
    display: block;
}

.float_left {
    float: left;
}

.container {
    width: 1200px;
    display: block;
    margin: 0 auto;
}

.clear_children_float:after {
    @include clear-children-float();
}

.clear_left {
    clear: left;
}

.inline_block {
    display: inline-block;
}

.center { 
    margin: 0 auto;
}

.text_align_center {
    text-align: center;
}

/* General ------------------------------------*/

/* Spacing ------------------------------------*/

.margin_top_10 {
	margin-top: 10px;
}

.margin_top_20 {
    margin-top: 20px;
}

.margin_top_40 {
    margin-top: 40px;
}

.margin_bottom_20 {
    margin-bottom: 20px;
}

.margin_bottom_40 {
    margin-bottom: 40px;
}

.full_width {
    width: 100%;
}

/* Spacing ------------------------------------*/

/* Font ---------------------------------------*/

body {
    font: $body-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Font ---------------------------------------*/

/* Form ---------------------------------------*/

.form_label {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 8px;
	text-align: left;
	font-weight: 600;
}

.form_input {
    height: $input-height;
    line-height: $input-height;
    border-radius: $box-border-radius;
    border: 1px solid $border-grey;
    padding: 0 10px;
    font: $body-font;
}

/* Form ---------------------------------------*/

/* Button -------------------------------------*/

.Button {
    background-color: $brand-orange;
    font: $body-font;
    border: none;
    color: white;
    height: $input-height;
    padding: 0 14px;
    //margin-top: 10.5px;
}

/* Button -------------------------------------*/

/* Header -------------------------------------*/

.Header {
    border-bottom: 5px solid $brand-orange;
    height: $header-height;
    color: white;
    text-align: center;
    background-color: $brand-off-black;
}
  
.Header h1 {
    line-height: $header-height;
    font-size: 30px;
}

/* Header -------------------------------------*/

/* Suggestions --------------------------------*/

.Email_Suggestions {
	background-color: $off-white;
    opacity: 0;
    width: 80%;
}

.Email_Suggestions_Suggestion {
	cursor: pointer;
	padding: 10px 5px;
	text-decoration: underline;
    color: blue;
    
    &:hover {
        background-color: darken($off-white, 7%);
    }
}

/* Suggestions --------------------------------*/

/* Keep Last ----------------------------------*/

.show {
	opacity: 1;
}

/* Keep Last ----------------------------------*/