.container {
	width: $container-width;
	display: block;
	padding-left: $gutter-padding;
	padding-right: $gutter-padding;

	@media screen and (max-width: $container-width) {
		width: 100%;
	}
}

.col-md-12,
.col-sm-24 {
	padding: 0 $gutter-padding;
}

.col-md-12 { 
	width: 50%;
}

.row {
	margin-left: -#{$gutter-padding};
	margin-right: -#{$gutter-padding};
	display: flex;
	flex-wrap: wrap;
}

@media screen and (max-width: $tablet-screen-width) {
	.col-sm-24 {
		width: 100%;
	}
}